@font-face {
  font-family: Chocolatecyr-lat;
  src: url("../BBP test/fonts/Chocolate cyr-lat.otf");
}

@font-face {
    font-family: 'JakobTT';
    src: url('../BBP test/fonts/4333.woff');
    font-weight: normal;
    font-style: normal;
}
